/JavaApplication1/nbproject/private/
/JavaApplication1/.idea
/UT2/Act2.5/nbproject/private/
/UT2/Act25/build/
/UT2/Act26/nbproject/private/
/UT2/Act26/build/
/UT3/Act34/nbproject/private/
/UT3/Act34/build/
/UT4/BankAccount/nbproject/private/
/UT4/BankAccount/build/
